*{
    padding: 0px;
    margin: 0px;
}


button{
    width: 18%;
    padding-top: 18%;
    background-color: #2980B9;
    overflow: hidden;
    border: none;
    outline: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}

h1,h2,h3,h4,h5,h6{
    color: #ECF0F1;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 500;
}

.content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.left-bar{
    flex: 1;
    background: #2C3E50;
    height: 100%;
}

.right-content{
    flex: 14;
    background-color: #34495E;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.playlist-chooser{
    flex:2;
    display: flex;
    flex-direction: row;
    padding-left: 3%;
    padding-top: 1%;
    font-size: 1vw;
}

.change-playlist-button{
    height: 45%;
    padding-left: 1%;
}

.main{
    flex: 16;
    background-color: #34495E;
    height: 100%;
    display: flex;
    flex-direction: row;
}

/*#region songs list*/
.songs{
    flex: 5;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 5% 1% 3%;
}

.song{
    height: 15%;
    width: 45%;
    background-color: #2C3E50;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0.7vw;
    overflow: hidden;
}

.song-image{
    background-image: url('../main_page//Wolfgang-amadeus-mozart_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
}

.song-data{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    flex: 3;
}

.song-data h3{
    font-size: 1.7vw;
    color: #ECF0F1;
}

.song-data h5{
    font-size: 0.9vw;
    color: #95A5A6;
}

.song-functions{
    flex: 1;
    margin-right: 2%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.song-functions div{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5%;
    width: 30%;
}

.play{
    background-image: url('../../assets/startMusic.svg');
}

.like{
    background-image: url('../../assets/like.svg');
}

.add-to-playlist{
    background-image: url('../../assets/album.svg');
}

.setting{
    background-image: url('../../assets/settings.svg');
}
/*#endregion songs list*/

/*#region Sources stuff*/
.source-menus{
    flex: 1.3;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-right: 5%;
}

.source-menu{
    background-color: #2C3E50;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    height:14%;
    margin-bottom: 15%;
    padding: 2%;
}

.source-menu h3{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.6vw;
}

.source-menu-content{
    padding-top:4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.source-menu-content input{
    background: #BDC3C7;
    border:none;
    outline: none;
    padding: 1.5%;
    border-radius: 0.3vw;
    width: 70%;
    font-size: 1.3vw;
}

.source-menu-content img{
    width: 10%;
    height: 10%;
    margin-right: 10%;
}
/*#endregion Sources stuff*/


.mus-player{
    flex: 3;
    background-color: #2C3E50;
}




.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    align-self: center;
}

.previous-button{
    background-image: url('../../assets/baseline-skip-previous.svg');
}

.pause-button{
    background-image: url('../../assets/play.svg');
}

.next-button{
    background-image: url('../../assets/play-track-next.svg');
}