.music-progress-bar{
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10%;
  border: 0;
  background: #7F8C8D;
  cursor: pointer;
  outline-width: 0px;
  overflow: hidden;
}



.music-progress-bar::-webkit-slider-thumb {
  appearance: none;
  width: 1vh;
  height: 3vh;
  background: #2980b9;
  cursor: pointer;
}
